{% extends 'base.html' %}

{% block script %}
<script type=text/javascript>
    $(document).ready(function() {
        $("#boards-box").html("");
        showBoardList();
    })

    function toggleOpen() {
        if ($('#btn-post-box').html() == '<small>닫기</small>') {
            $('#post-box').hide();
            $('#btn-post-box').html(`<small>게시판 추가</small>`);
        } else {
            $('#post-box').show();
            $('#btn-post-box').html(`<small>닫기</small>`);
        }
    }

    function postBoard() {
        $.ajax({
            method      : "POST",
            url         : "{{ url_for('board.boardresource') }}",
            headers     : {"X-CSRFToken" : "{{ csrf_token() }}"},
            contentType : "application/json",
            data        : JSON.stringify({name : $('#boardName').val()})
        }).done(function(response) {
            let board = response.board;
            makeBoardCard(board.id, board.name);
            window.location.reload();
            alert('게시판 등록에 성공하였습니다!');
        }).fail(function() {
            alert('게시판 등록이 실패했습니다.');
        });
    }

    function showBoardList() {
        $.ajax({
            method : "GET",
            url    : "{{ url_for('board.boardresource') }}"
        }).done(function(response) {
            let boards = response.boards;
            boards.forEach(board => makeBoardCard(board.id, board.name));
        }).fail(function() {
            alert('게시판 목록을 가져오는 데 실패하였습니다')
        });
    }

    function makeBoardCard(id, name) {
        $('#boards-box').append(
            `<article class="card my-2">
                <div class="card-body row">
                    <h2 class="card-title my-auto ml-4"><a href="/boards/${id}">${name}</a></h2>
                    <div class="ml-auto my-auto mr-4">
                        <a href="#" class="card-link">수정</a>
                        <a href="#" class="card-link" onclick="deleteBoard(${id});">삭제</a>
                    </div>
                </div>
            </article>`
        );
    }

    function deleteBoard(_id) {
        console.log(_id);
        $.ajax({
            method      : "DELETE",
            url         : "{{ url_for('board.boardresource') }}",
            headers     : {"X-CSRFToken" : "{{ csrf_token() }}"},
            data        : JSON.stringify({id : _id}),
            contentType : "application/json"
        }).done(function() {
            window.location.reload();
            alert('삭제 성공!');
        }).fail(function() {
            alert('삭제 실패..')
        })
    }
</script>
{% endblock %}
{% block content %}
<div>
    <div class="row">
        <h1 class="my-3">전체 게시판 목록</h1>
        <button id="btn-post-box" type="button" class="btn btn-info my-auto ml-auto mr-4" onclick="toggleOpen();">
            <small>게시판 추가</small>
        </button>
    </div>
</div>
<div id="post-box" class="row mx-1 my-3 py-4 rounded-lg shadow-sm " style="display: none">
    <form method="POST" class="form-inline mx-auto">
        <div class="form-group">
            <label for="boardName" class="font-weight-bold mr-sm-3" required>게시판 이름 :</label>
            <input type="text" class="form-control info mr-sm-3" placeholder="Enter board name" id="boardName">
        </div>
        <button type="button" class="btn btn-info btn-sm" onclick="postBoard();">등록</button>
    </form>
</div>
<div id="boards-box"></div>
{% endblock %}
